<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="vendor/angular-translate.min.js" type="text/javascript"></script>
    <script src="vendor/angular-translate-loader-static-files.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
</head>
<body ng-controller="MenuController as menuCtrl">
<header>
    <div class="container">
        <ul class="nav nav-pills">
            <li ng-class="{ active: menuCtrl.isSet(1) }"><a ng-click="menuCtrl.setTab(1)" href="">{{"aboutCompany" |
                translate }}</a>
            </li>
            <li ng-class="{ active: menuCtrl.isSet(2) }"><a ng-click="menuCtrl.setTab(2)" href="">{{"projects" |
                translate}}</a></li>
            <li ng-class="{ active: menuCtrl.isSet(3) }"><a ng-click="menuCtrl.setTab(3)" href="">{{"products" |
                translate}}</a></li>
            <li ng-class="{ active: menuCtrl.showContactForm }"><a
                    ng-click="menuCtrl.toggleContactForm()" href="#">{{"contactUs" | translate}}</a></li>
            <li class="pull-right" ng-controller="TranslateController as transCtrl"><a
                    ng-click="transCtrl.switchLanguage()" href="">{{"language" | translate}}</a></li>
        </ul>
    </div>
</header>
<div class="container">
    <div class="jumbotron" style="background-color: transparent;">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-center">DRQ</h1>

                <p>{{"headerMessage" | translate}}</p>
            </div>
            <div class="col-md-5">
                <img src="http://www.francesyou.com/images/print/wells/moon.jpg" class="img-rounded"/>
            </div>
        </div>
    </div>
</div>
<div ng-show="menuCtrl.tab" class="container">
    <section class="tab">
        <div ng-show="menuCtrl.isSet(1)">
            <h4>{{"aboutCompany" | translate}}</h4>
            <blockquote>{{"aboutCompanyDesc" | translate}}</blockquote>
        </div>
        <div ng-show="menuCtrl.isSet(2)">
            <h4>{{"projects" | translate}}</h4>
            <blockquote>{{"projectsDesc" | translate}}</blockquote>
        </div>
        <div ng-show="menuCtrl.isSet(3)">
            <h4>{{"products" | translate}}</h4>
            <blockquote>{{"productsDesc" | translate}}</blockquote>
        </div>
    </section>
</div>
<div ng-show="menuCtrl.showContactForm" class="container">
    <section class="contact">
        <h1 class="page-header">{{"contactForm" | translate}}</h1>

        <form ng-controller="MessageController as msgCtrl" ng-submit="msgCtrl.addMessage()">
            <fieldset class="form-group">
                <label for="name" class="col-sm-2 control-label">{{"nameForm" | translate}}</label>

                <div class="col-sm-10">
                    <input ng-model="msgCtrl.message.name" type="text" class="form-control" id="name" name="name"
                           placeholder='{{"placeholderNameForm" | translate}}' value="">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                    <input ng-model="msgCtrl.message.email" type="email" class="form-control" id="email" name="email"
                           placeholder='{{"placeholderEmailForm" | translate}}'
                           value="">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="message" class="col-sm-2 control-label">{{"messageForm" | translate}}</label>

                <div class="col-sm-10">
                    <textarea ng-model="msgCtrl.message.body" class="form-control" rows="4" id="message"></textarea>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input id="submit" name="submit" type="submit" value='{{"sendForm" | translate}}'
                           class="btn btn-primary">
                </div>
            </div>
        </form>
    </section>
</div>
<div ng-controller="MessagesController as msgsCtrl" ng-show="msgsCtrl.messages.length" class="container">
    <h1 class="page-header">{{"messages" | translate}}</h1>
    <ul class="list-group" ng-repeat="message in msgsCtrl.messages">
        <li class="list-group-item"><strong>{{"messagesFrom" | translate}}: </strong>{{message.name}} <i>({{message.email}})</i>
        </li>
        <li class="list-group-item"><strong>{{"messagesMessage" | translate}}: </strong>{{message.body}}</li>
    </ul>
</div>
<footer>
    <div class="container">
        <p class="text-muted small pull-right">&copy;DRQ 2016</p>
    </div>
</footer>
</body>
</html>
